<div class="product">
  <% if @favourite_product.id == product.id %>
    <p>This is your favourite product.</p>
  <% end %>
  <h2>
    <% if display_link_to_show %>
      <%= link_to product.name, store_show_path(id: product.id) %>
    <% else %>
      <%= product.name %>
    <% end %>
  </h2>
  
  <% if product.category.present? %>
    <p>Category: <%= product.category.name %></p>
  <% end %>
  
  <% if product.image_filename.present? %>
    <%= image_tag product.image_filename %>
  <% end %>
  
  <p>
    <%= product.description %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>
  
  <p>
    <%= link_to 'Set As Favourite Product',
                save_favorite_product_path(product),
                method: :post %>
  </p>
  
  <% if display_link_to_edit %>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
  <% end %>
</div>